<template>
    <div>
        <div class="d-flex position-relative justify-content-between p-2">
            <div></div>
            <h3 class="ps-5 h2">Welcome to Actor Listing Page</h3>
            <Button type="primary" shape="circle" icon="ios-add-circle" @click="addActor">AddActor</Button>
        </div>
        
       <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-3 bg-secondary m-1 p-2" >
            <person-card v-for="actor in actors" :key="actor.id" :person="actor" :entity="entity"
               @delete-person="deleteActor" @edit-person="editActor">
            </person-card>
       </div>
       <person-form :entity="entity" @submit-person="submitActor" @error-occured="errorOccured"
          ref="personForm" :personModal="personModal" @click-cancel="personModal=false" >
          </person-form>
    </div> 
</template>

<script>


import axios from 'axios';
import PersonCard from '../components/PersonCard.vue';
import PersonForm from '../components/PersonForm';

export default{
    data(){
      return{
          actors : [],
          entity : "Actor",
          personModal : false

      }
    },
  created(){
    this.getActors() 
  }, 
  components: {
    PersonCard,
    PersonForm  
  },
  methods :{
      submitActor(personData){
        personData.dateOfBirth=personData.dateOfBirth.toLocaleDateString()
        this.personModal=false
        if(personData.id !=0){
          axios.put("https://localhost:5001/actor/"+personData.id,personData).then(()=>{this.getActors()})
        }
        else{
          axios.post("https://localhost:5001/actor",personData).then(()=>{this.getActors()})
        }

      
    },
    addActor(){
    this.personModal = true
    this.$refs.personForm.addPerson()
    },


    deleteActor(id) {
      axios.delete("https://localhost:5001/actor/"+id).then(()=>{this.getActors()})
    },
    getActors(){
      axios.get("https://localhost:5001/actor/all").then(
      res => {
        this.actors=res.data
      }
    )},

    editActor(personData){
        this.$refs.personForm.editPerson(personData)
        this.personModal=true
    },
   
   errorOccured(){
      this.personModal=false
   }

  }
}
</script>

