<template>
    <div>
        <div class="d-flex position-relative justify-content-between p-2">
        <div></div>
        <h3 class="ps-5 h2">Welcome to Producer Listing Page</h3>
        <Button type="primary" shape="circle" icon="ios-add-circle" @click="addProducer">AddProducer</Button>
      </div>
       <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-3 bg-secondary m-1 p-2" >
            <person-card v-for="producer in producers" :key="producer.id" :person="producer" :entity="entity"
                @delete-person="deleteProducer" @edit-person="editProducer">
            </person-card>
       </div>
       <person-form :entity="entity" @submit-person="submitProducer" ref="personForm"
           @error-occured="errorOccured" :personModal="personModal" @click-cancel="personModal=false">
       </person-form>
    </div> 
</template>

<script>


import axios from 'axios';
import PersonCard from '../components/PersonCard.vue';
import PersonForm from '../components/PersonForm';
export default{
    data(){
      return{
         producers : [],
          entity : "Producer",
         personModal : false
      }
    },
  created(){
    this.getProducers()
  }, 
  components: {
    PersonCard,
    PersonForm
  },
  methods :{
    submitProducer(personData){
        this.personModal=false
        if(personData.id !=0){
          axios.put("https://localhost:5001/producer/"+personData.id,personData).then(()=>{this.getProducers()})
        }
        else{
          axios.post("https://localhost:5001/producer",personData).then(()=>{this.getProducers()})
        }
    },
    editProducer(personData){
        this.$refs.personForm.editPerson(personData)
        this.personModal=true
    },

    deleteProducer(id) {
      axios.delete("https://localhost:5001/producer/"+id).then(()=>{this.getProducers()})
    },

    errorOccured(){
     this.personModal=false
   },

    addProducer(){
    this.personModal = true
    this.$refs.personForm.addPerson()
    },

    getProducers(){
      axios.get("https://localhost:5001/producer/all").then(
      res => {
        this.producers=res.data
      }
    )}
  }
}
</script>

