<template>
<div>
        <Modal
        v-model="modal1"
        :title="fullTitle"
        @on-ok="submitMovie('movieData')"
        @on-cancel="cancel"
        :ok-text="buttonName"
        width="580"
        :styles="{top: '30px'}"
       >
       <Form :model="movieData" label-position="left" :label-width="100" :rules="ruleValidate" ref="movieData" >
            <FormItem label="Name" prop="name">
                <Input v-model="movieData.name" placeholder="Enter Name" clearable style="width: 350px"></Input>
            </FormItem>

            <FormItem label="Plot" prop="plot">
                <Input v-model="movieData.plot" type="textarea" clearable style="width: 350px" :autosize="{minRows: 2,maxRows: 5}" placeholder="Enter Plot"></Input>
            </FormItem>

            <FormItem label="Release Year">
                <Row>
                    <Col span="11">
                        <FormItem prop="yearOfRelease">
                            <DatePicker type="year" placeholder="Select Year" v-model="movieData.yearOfRelease" style="width: 250px"></DatePicker>
                        </FormItem>
                    </Col>
                </Row>
            </FormItem>

            <FormItem label="Poster">
                    <Upload action="//jsonplaceholder.typicode.com/posts/" :before-upload="fileUpload" >
                        <Button icon="ios-cloud-upload-outline">Upload Poster</Button>
                    </Upload>
            </FormItem>

            <FormItem label="Producer" prop="selectedProducer" >
                <Select v-model="movieData.selectedProducer" filterable clearable style="width:260px">
                    <Option v-for="item in producers" :value="item.id" :key="item.id">{{item.name}}</Option>
                </Select>
                <button type="button" class="btn btn-primary col-sm-4 float-right" 
                        @click="showProducer()">+AddProducer</button> 
            </FormItem>

            <FormItem label="Actors" prop="selectedActors">
                <Select v-model="movieData.selectedActors" filterable multiple style="width:260px">
                    <Option v-for="item in actors" :value="item.id" :key="item.id">{{ item.name }}</Option>
                </Select>
                <button type="button" class="btn btn-primary col-sm-4 float-right" 
                        @click="showActor()" >+AddActor</button>
            </FormItem>
            
            <FormItem label="Genres" prop="selectedGenres">
                 <Select v-model="movieData.selectedGenres" filterable multiple style="width:260px">
                    <Option v-for="item in genres" :value="item.id" :key="item.id">{{ item.name }}</Option>
                 </Select>
            </FormItem>
            <person-form :entity="entity" @submit-person="submitPerson" :personModal="personModal"
                @click-cancel="personModal=false" @error-occured="errorOccured" ref="personForm">
             </person-form> 
        </Form>
             
    </Modal>
               
</div> 
</template>

<script>
import axios from 'axios';
import PersonForm from '../components/PersonForm.vue'

export default {
    props:['propID','movieModal'],
    data(){
        return{
            movieData:{
                id:0,
                name :"",
                poster :null,
                plot: "",
                yearOfRelease : null,
                selectedProducer :null,
                selectedActors : [],
                selectedGenres : [],
            },
        func:"Add",
        buttonName:"ADD",
        producers:[],
        actors :[],
        genres :[],
        localFields : {value :"id",text:'name'},
        entity:"",
        personModal:false,

         ruleValidate:
         {
            name: [
                    { required: true, message: 'The name cannot be empty', trigger: 'blur',type: 'string' }
                ],
            plot: [
                    { required: true, message: 'The plot cannot be empty', trigger: 'blur',type: 'string' }
                ],
           selectedActors: [
                    { required: true,type: 'array', message: 'Choose at least one actor', trigger: 'change' },
                ],
             yearOfRelease: [
                        { required: true,type: 'date',  message: 'Please select the Year', trigger: 'change' }
                    ],
            selectedProducer: [
                    { required: true,type :'number' , message: 'Please Choose Producer', trigger: 'change' },
                ],
            selectedGenres: [
                    { required: true, type: 'array', message: 'Choose at least one Genre', trigger: 'change' },
                ],
             
        }
        }
    },
    created(){ 
    this.getActors()
    this.getProducers()
    axios.get("https://localhost:5001/genre/all").then(
      res => {
        this.genres=res.data
      })
    }, 
     computed:{
         fullTitle(){
            return(this.func+" Movie")
        },
        modal1: {
		get: function() {
            return this.movieModal
		},
		set: function(newValue) {
            return newValue
		}
  }},
    methods:{

        fileUpload(event) {
            this.movieData.poster = event;
            return true
        },

        showActor(){
                this.entity="Actor"
                this.personModal = true
                this.$refs.personForm.addPerson()
        },

        showProducer(){
                this.entity="Producer"
                this.personModal = true
                this.$refs.personForm.addPerson()
        },

        submitPerson(personData){
            this.personModal=false
        if(this.entity==="Actor"){
            axios.post("https://localhost:5001/actor",personData).then(()=>{this.getActors()})
            for(var i=0;i<this.actors.length;i++){
                if(personData.id===this.actors.id){
                    this.selectedActors.push(personData.id)
                }
            }
            
            }
        if(this.entity==="Producer"){
            axios.post("https://localhost:5001/producer",personData).then(()=>{this.getProducers()})
            }
        },
        getActors(){
            axios.get("https://localhost:5001/actor/all").then(
            res => {
        this.actors=res.data
      })
        },
        getProducers(){
            axios.get("https://localhost:5001/producer/all").then(
            res => {
        this.producers=res.data
      })
        },
        submitMovie(name){
            this.$refs[name].validate((valid) => {
                    if (valid) {
                        
                        this.$Message.success('Success!');
                        this.$emit('submit-movie',this.movieData)
                    } else {
                        this.$Message.error('Fail!');
                        this.$emit('error-occured')
                    }
                    
                })
            
        },

        addMovie(){
            this.$refs['movieData'].resetFields();
            this.func="Add"
            this.buttonName="Add"
            this.movieData.id=0
        },

        editMovie(movieData){
            this.$refs['movieData'].resetFields();
            this.func="Edit"
            this.buttonName="Update"
            this.movieData.id=movieData.id
            this.movieData.name = movieData.name
            this.movieData.poster = movieData.poster
            this.movieData.plot = movieData.plot
            var d=new Date()
            d.setFullYear(movieData.yearOfRelease)
            this.movieData.yearOfRelease = d     
            this.movieData.selectedProducer = movieData.producer.id   
            this.movieData.selectedActors=[] 
            this.movieData.selectedGenres=[]
            movieData.actors.map(data =>  this.movieData.selectedActors.push(data.id))
            movieData.genre.map(data =>  this.movieData.selectedGenres.push(data.id))            
                 
        },

         cancel () {
                this.$Message.info('Clicked cancel');
                this.$emit('click-cancel',this.movieModal)
                this.$refs['movieData'].resetFields();
            },
         errorOccured(){
            this.personModal=false
         }

    },
    components: {
    PersonForm
  }
}
</script>


<style scoped>
</style>