<template>
<div>
    <Menu mode="horizontal" :theme="theme1" active-name="1">
        <router-link to="/"><MenuItem name="1">
            <Icon type="ios-paper" />
            Home
        </MenuItem>
        </router-link>

        <router-link to="/actor"><MenuItem name="2">
            <Icon type="ios-people" />
            Actors
        </MenuItem></router-link>

        <router-link to="/producer"><MenuItem name="3">
            <Icon type="ios-people" />
            Producers
        </MenuItem></router-link>  
    </Menu>
</div>
</template>
<script>
    export default {
        data () {
            return {
                theme1: 'dark'
            }
        }
    }
</script>