<template>
<div>
    <Modal
        v-model="modal1"
        :title="fullTitle" 
        @on-ok="submitPerson('personData')"
        @on-cancel="cancel"
        :ok-text="buttonName"
       >

        <Form :model="personData" label-position="left" :label-width="100" :rules="ruleValidate" ref="personData" >
            <FormItem label="Name" prop="name">
                <Input v-model="personData.name" placeholder="Enter Name" clearable style="width: 250px"></Input>
            </FormItem>

            <FormItem label="Gender" prop="gender">
                <RadioGroup v-model="personData.gender">
                    <Radio label="Male" ></Radio>
                    <Radio label="Female"></Radio>
                </RadioGroup>
            </FormItem>

            <FormItem label="Bio" prop="bio">
                <Input v-model="personData.bio" placeholder="Enter Bio" clearable style="width: 250px"></Input>
            </FormItem>

            <FormItem label="DateOfBirth" >
                <Row>
                    <Col span="11">
                        <FormItem prop="dateOfBirth">
                            <DatePicker type="date" :options="dateOptions" placeholder="Select date" v-model="personData.dateOfBirth" style="width: 250px"></DatePicker>
                        </FormItem>
                    </Col>
                </Row>
            </FormItem>
        </Form>
    </Modal>
</div> 
</template>

<script>

export default {
    props:['entity','personModal'],
    data(){
        return{
         personData:{
            id : 0,
            name :"",
            gender: "",
            bio: "",
            dateOfBirth : null
        },
        func:"Add",
        buttonName:"ADD",
        dateOptions: {
                    disabledDate (date) {
                        return date && date.valueOf() > Date.now() - 86400000;
                    }
                },
        ruleValidate:
         {
            name: [
                    { required: true, message: 'The name cannot be empty', trigger: 'blur',type: 'string' }
                ],
            dateOfBirth: [
                        { required: true, type: 'date', message: 'Please select the date', trigger: 'change' }
                    ],
            gender: [
                        { required: true, message: 'Please select gender', trigger: 'change' }
                    ],
            bio: [
                        { required: true, message: 'Bio cannot be empty', trigger: 'blur' }
                    ],
             
        }
       }
    },
    computed:{
        fullTitle(){
            return(this.func+" "+this.entity)
        },

        modal1: {
		get: function() {
            return this.personModal
		},
		set: function(newValue) {
            return newValue
		}
	}
    },
    methods:{
        submitPerson(name){
            this.$refs[name].validate((valid) => {
                    if (valid) {
                        
                        this.$Message.success('Success!');
                        this.$emit('submit-person',this.personData)
                    } else {
                    
                        this.$Message.error('Fail!');
                        this.$emit('error-occured')
                    }

                })
        },
        addPerson () {  
                this.$refs['personData'].resetFields();
                this.func="Add"
                this.buttonName="ADD"
                this.personData.id=0
            },
        
        editPerson(personData){
            this.$refs['personData'].resetFields();
            this.func="Edit"
            this.buttonName="Update"
            this.personData.id=personData.id
            this.personData.name=personData.name
            this.personData.gender=personData.gender
            this.personData.bio=personData.bio
            this.personData.dateOfBirth=new Date(personData.dateOfBirth)
            // this.personData.dateOfBirth = personData.dateOfBirth.slice(0,10);  
        },

        cancel () {
                this.$Message.info('Clicked cancel');
                this.$emit('click-cancel',this.personModal)
            },

    },
}
</script>
